<UserScriptConfig>
	<Script filename="reddit_keyboard_shortcut.user.js" name="Reddit keyboard shortcuts" namespace="http://simulacra.in" description="Add some keyboard shortcuts to reddit" enabled="true" basedir="reddit_keyboard_shortcut">
		<Include>http://www.reddit.com/*</Include>
		<Include>http://www.reddit.com/r/*</Include>
		<Exclude>http://www.reddit.com/*/comments/*</Exclude>
		<Exclude>http://www.reddit.com/r/*/comments/*</Exclude>
	</Script>
	<Script filename="smbc_reader.user.js" name="SMBC Reader" namespace="#aVg" description="Makes reading Saturday Morning Breakfast Cereal more pleasurable, with adblock and hidden comic (votey) viewer." enabled="true" basedir="smbc_reader">
		<Include>http://www.smbc-comics.com/*</Include>
	</Script>
	<Script filename="xkcd_fan_keyboard_shortc.user.js" name="xkcd Fan (+keyboard shortcuts)" namespace="#avg" description="Read xkcd with only comic and alt-text and keyboard shortcuts, fullscreen fit and more" enabled="true" basedir="xkcd_fan_keyboard_shortc">
		<Include>http://*xkcd.com/*</Include>
	</Script>
	<Script filename="dinosaur_comics_extra_te.user.js" name="Dinosaur Comics extra text" namespace="http://miff.furopolis.org/" description="Displays extra text on dinosaur comics pages." enabled="true" basedir="dinosaur_comics_extra_te">
		<Include>http://qwantz.com/index.php</Include>
		<Include>http://qwantz.com/index.php?comic=*</Include>
		<Include>http://www.qwantz.com/index.php</Include>
		<Include>http://www.qwantz.com/index.php?comic=*</Include>
	</Script>
	<Script filename="google_search_enhanced_k.user.js" name="Google Search Enhanced Keyboard Navigation" namespace="http://userscripts.org/users/82018" description="Enables Google's experimental keyboard shortcut navigation in search results, plus additional feature for jumping to Next/Previous result pages." enabled="true" basedir="google_search_enhanced_k">
		<Include>http://*google.com/search*</Include>
	</Script>
	<Script filename="dukgo_fix_shortcuts.js" name="Dukgo Shortcut Fix" namespace="dukgo" description="Dukgo fix" enabled="true" basedir="dukgo_fix_shortcuts">
		<Include>http://duckduckgo.com/*</Include>
	</Script>
	<Script filename="mangafox3_fit_image.user.js" name="Mangafox3 Fit Image" namespace="Knace" description="Thnx to Knace. A mangafox.com script: Loads several images (up to entire chapter) vertically for your reading pleasure. You only need to scroll down to continue reading which keeps the flow of the manga. Also makes saving the entire chapter simple and easy!" enabled="true" basedir="mangafox3_fit_image">
		<Include>http://www.mangafox.com/*</Include>
	</Script>
</UserScriptConfig>